IMAGE=ghcr.io/bitsongofficial/go-bitsong:feat-hyperlane
CHAIN_ID=crescendo-1
VAL_NAME=val1

# MODE=genesis  → crea la chain da zero (default)
# MODE=join     → si connette a una chain esistente
MODE=genesis

# Solo per MODE=join
GENESIS_URL=
SEEDS=
